name: Deploy Odoo App to AWS Server

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H 35.182.11.48 >> ~/.ssh/known_hosts

    - name: Deploy to Server
      run: |
        ssh -o StrictHostKeyChecking=no ubuntu@35.182.11.48 << 'EOF'
          set -e
          sudo apt update
          sudo apt install docker.io docker-compose -y
          echo "${{ secrets.DEPLOY_PRIVATE_KEY }}" > ~/deploy_key
          chmod 600 ~/deploy_key
          export GIT_SSH_COMMAND="ssh -i ~/deploy_key -o StrictHostKeyChecking=no"
          
          cd /home/ubuntu
          if [ ! -d "odoo-self-hosted" ]; then
            git clone git@github.com:RamyaLogan/odoo-self-hosted.git
          fi
          cd odoo-self-hosted
          git pull origin main
          sudo usermod -aG docker ubuntu
          newgrp docker
          docker-compose down
          docker-compose up -d
        EOF