name: Deploy Odoo App to AWS Server

on:
  workflow_dispatch:

env:
  TF_TOKEN_app_terraform_io: ${{ secrets.TF_CLOUD_TOKEN }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo with submodules
      uses: actions/checkout@v4
      with:
        clean: true
        submodules: recursive

    - name: Set up terraform 
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.0
    
    - name: init terraform 
      working-directory: infra/terraform
      env:
        TF_TOKEN_app_terraform_io: ${{ secrets.TF_CLOUD_TOKEN }}
      run: terraform init

    - name: Read Odoo IP from terraform cloud 
      id: get_ip
      working-directory: infra/terraform
      shell: bash
      run: |
        RAW_OUTPUT=$(terraform output -raw odoo_server_ip 2>&1)
        SERVER_IP=$(echo "$RAW_OUTPUT" | grep -Eo '([0-9]{1,3}\.){3}[0-9]{1,3}' | tail -n 1 | tr -d '\r\n')
        echo "Extracted EC2 IP: $SERVER_IP"
        echo "ec2_ip=$SERVER_IP" >> $GITHUB_ENV
    
    - name: Print
      working-directory: infra/terraform
      run: echo "ip ${{ env.ec2_ip }}"

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.DEPLOY_PRIVATE_KEY_SSH }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ env.ec2_ip }} >> ~/.ssh/known_hosts
    
    - name: Print branch
      run: echo "Deploying ${{ github.ref_name }}"

    - name: Export triggering branch name to env
      run: echo "DEPLOY_BRANCH=${GITHUB_REF_NAME}" >> $GITHUB_ENV

    - name: Deploy to Server
      run: |
        ssh -o StrictHostKeyChecking=no \
            -o ServerAliveInterval=60 \
            -o ServerAliveCountMax=10 \
            -o TCPKeepAlive=yes \
            ubuntu@${{ env.ec2_ip }} << 'EOF'

          set -e
          sudo apt update
          echo "${{ secrets.DEPLOY_PRIVATE_KEY }}" > ~/deploy_key
          chmod 600 ~/deploy_key
          export GIT_SSH_COMMAND="ssh -i ~/deploy_key -o StrictHostKeyChecking=no"
          
          cd /home/ubuntu
          if ! command -v docker-compose &> /dev/null; then
            sudo curl -SL https://github.com/docker/compose/releases/download/v2.24.5/docker-compose-linux-x86_64 \
              -o /usr/local/bin/docker-compose
            sudo chmod +x /usr/local/bin/docker-compose
          fi
          if [ ! -d "odoo-mhs" ]; then
            git clone git@github.com:RamyaLogan/odoo-mhs.git
          fi
          cd odoo-mhs
          sudo chown -R ubuntu:ubuntu .
          git reset --hard
          git clean -fd
          git fetch origin
          git checkout $DEPLOY_BRANCH
          git pull origin $DEPLOY_BRANCH
          git submodule update --init --depth 1 --recursive
          sudo apt update
          sudo apt install -y docker.io docker-compose
          sudo systemctl enable docker
          sudo systemctl start docker
          sudo usermod -aG docker ubuntu
          newgrp docker
          
          [ -d /opt/ssl/certbot ] || sudo mkdir -p /opt/ssl/certbot
          sudo chown -R ubuntu:ubuntu /opt/ssl

          bash ./init-cert.sh
          docker-compose down
          docker-compose up -d db odoo odoo-runner nginx redis --build
        EOF