name: Terraform Infrastructure Deployment

on:
  workflow_dispatch:

env:
  TF_TOKEN_app_terraform_io: ${{ secrets.TF_CLOUD_TOKEN }}
  
jobs:
  terraform:
    runs-on: ubuntu-latest
    outputs:
      odoo_ip: ${{ steps.extract.outputs.odoo_ip }}
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.0

    - name: Terraform init & Apply
      working-directory: infra/terraform
      run: |
        terraform init
        terraform apply -auto-approve
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Print raw IP
      working-directory: infra/terraform
      run: terraform output -raw odoo_server_ip

    - name: Terraform Output
      id: extract
      working-directory: infra/terraform
      run: |
        SERVER_IP=$(terraform output -raw odoo_server_ip | tr -d '\r' | tail -n 1)
        echo "odoo_ip=${SERVER_IP}" >> $GITHUB_OUTPUT
     

