name: Terraform Infrastructure Deployment

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.0

    - name: Terraform Init
      working-directory: infra/terraform
      run: terraform init

    - name: Terraform Apply
      working-directory: infra/terraform
      run: terraform apply -auto-approve
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Terraform Output
      id: tf_output
      working-directory: infra/terraform
      run: |
        SERVER_IP=$(terraform output -raw odoo_server_ip)
        echo "odoo_server_ip=$SERVER_IP" >> $GITHUB_ENV
     

